<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title Isomalto
	link(rel="stylesheet", href="css/main.css")
body
	.main-menu
		.logo-wrap
			img(src="img/logo.jpg", alt="logo")
		.list-wrap
			ul
				li
					a(href="#") главная
				li
					a(href="#") о продукте
				li
					a(href="#") попробовать
				li
					a(href="#") рецепты
				li
					a(href="#") контакты
				li.shop-link
					a(href="#") магазин
	.main-mobile-menu
		.logo-wrap
			img(src="img/logo.jpg", alt="logo")
		.mobile-menu-btn 
			span меню
			.mob-menu-icon
				span
				span
				span
		.list-wrap
			ul
				li
					a(href="#") главная
				li
					a(href="#") о продукте
				li
					a(href="#") попробовать
				li
					a(href="#") рецепты
				li
					a(href="#") контакты
				li.shop-link
					a(href="#") магазин
	.main-slider-block
		.main-slider-wrap
			.slide-wrap(data-slide='0')
				img(src="img/slide01.jpg", alt="slide-01")
				.text-block
					p.slide-header сироп без сахара
					p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
						span Он богат пищевыми волокнами, сладкий, имеет приятный
						span вкус и калорийность в два раза ниже сахара
					a(href="#").slider-present-btn хочу в подарок
				.slider-bottom-info
					.slide-recipe-wrap
						a(href="#").slide-recipe рецепты
					.social-wrap
						p.social-phone +7-495-755-39-51
						.social-btns
							a(href="#").social-vk
							a(href="#").social-fb
							a(href="#").social-inst
						p.social-copyrights Copyright © 2016 
							a(href="#") Isomalto 
							| design by 
							a(href="#") as-crew 
							| / development by 
							a(href="# ") strikt 
			.slide-wrap(data-slide='1')
				img(src="img/slide02.jpg", alt="slide-02")
				.text-block
					p.slide-header сироп без сахара
					p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
						span Он богат пищевыми волокнами, сладкий, имеет приятный
						span вкус и калорийность в два раза ниже сахара
					a(href="#").slider-present-btn хочу в подарок
				.slider-bottom-info
					.slide-recipe-wrap
						a(href="#").slide-recipe рецепты
					.social-wrap
						p.social-phone +7-495-755-39-51
						.social-btns
							a(href="#").social-vk
							a(href="#").social-fb
							a(href="#").social-inst
						p.social-copyrights Copyright © 2016 
							a(href="#") Isomalto 
							| design by 
							a(href="#") as-crew 
							| / development by 
							a(href="# ") strikt 
			.slide-wrap(data-slide='2')
				img(src="img/slide03.jpg", alt="slide-03")
				.text-block
					p.slide-header сироп без сахара
					p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
						span Он богат пищевыми волокнами, сладкий, имеет приятный
						span вкус и калорийность в два раза ниже сахара
					a(href="#").slider-present-btn хочу в подарок
				.slider-bottom-info
					.slide-recipe-wrap
						a(href="#").slide-recipe рецепты
					.social-wrap
						p.social-phone +7-495-755-39-51
						.social-btns
							a(href="#").social-vk
							a(href="#").social-fb
							a(href="#").social-inst
						p.social-copyrights Copyright © 2016 
							a(href="#") Isomalto 
							| design by 
							a(href="#") as-crew 
							| / development by 
							a(href="# ") strikt 
			.slide-wrap(data-slide='3')
				img(src="img/slide04.jpg", alt="slide-04")
				.text-block
					p.slide-header сироп без сахара
					p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
						span Он богат пищевыми волокнами, сладкий, имеет приятный
						span вкус и калорийность в два раза ниже сахара
					a(href="#").slider-present-btn хочу в подарок
				.slider-bottom-info
					.slide-recipe-wrap
						a(href="#").slide-recipe рецепты
					.social-wrap
						p.social-phone +7-495-755-39-51
						.social-btns
							a(href="#").social-vk
							a(href="#").social-fb
							a(href="#").social-inst
						p.social-copyrights Copyright © 2016 
							a(href="#") Isomalto 
							| design by 
							a(href="#") as-crew 
							| / development by 
							a(href="# ") strikt 
		.arrows-wrap
			span.left
			span.right
	.about-slider-block
		p.about-slider-header почему 
			span isomalto?
		.about-slider-wrap
			.about-slide(data-slide='0')
				.column
					img(src="../img/icon-heart.png", alt="")
					p.column-header способствует поддержанию здорового уровня сахара в крови
					p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
				.column
					img(src="../img/icon-security.png", alt="")
					p.column-header	Помогает поддерживать здоровый уровень холестерина
					p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
				.column
					img(src="../img/icon-dna.png", alt="")
					p.column-header Способствует росту полезной микрофлоры
					p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
			.about-slide(data-slide='1')
				.column
					img(src="../img/icon-heart.png", alt="")
					p.column-header способствует поддержанию здорового уровня сахара в крови
					p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
				.column
					img(src="../img/icon-heart.png", alt="")
					p.column-header	Помогает поддерживать здоровый уровень холестерина
					p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
				.column
					img(src="../img/icon-heart.png", alt="")
					p.column-header Способствует росту полезной микрофлоры
					p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
			.about-slide(data-slide='2')
				.column
					img(src="../img/icon-security.png", alt="")
					p.column-header способствует поддержанию здорового уровня сахара в крови
					p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
				.column
					img(src="../img/icon-security.png", alt="")
					p.column-header	Помогает поддерживать здоровый уровень холестерина
					p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
				.column
					img(src="../img/icon-security.png", alt="")
					p.column-header Способствует росту полезной микрофлоры
					p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
		.about-arrows-wrap
			span.left
			span.right
		.about-indicators-wrap
		.about-social
			.social-wrap
				p.social-phone +7-495-755-39-51
				.social-btns
					a(href="#").social-vk
					a(href="#").social-fb
					a(href="#").social-inst
				p.social-copyrights Copyright © 2016 
					a(href="#") Isomalto 
					| design by 
					a(href="#") as-crew 
					| / development by 
					a(href="# ") strikt 
	.product-block
		p.product-header о продукте
			span Isomalto™ - это новый вид натурального сахарозаменителя в виде сиропа и пудры.
		.product-wrap
			.product-tabs-wrap
				ul.product-tabs-btns-wrap
					li
						button(data-href="0").active состав
					li
						button(data-href="1") польза
					li
						button(data-href="2") история
					li
						button(data-href="3") производство
				.product-tab-desc-wrap.active(data-href="0")
					.product-desc-row
						.product-desc-col
							p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
							p.tab-desc-text Энергетическая ценность 180 ккал*;
							ul.tab-desc-ul
								li белки: 0 г;
								li жиры: 0 г;
								li углеводы 75 г, из которых клетчатки** 70 г.
						.product-desc-col
							p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
							p.tab-desc-text Энергетическая ценность 180 ккал*;
							ul.tab-desc-ul
								li белки: 0 г;
								li жиры: 0 г;
								li углеводы 75 г, из которых клетчатки** 70 г.
					.product-desc-row
						.product-desc-col
							p.tab-desc-header.mod Пребиотик
							p.tab-desc-text Поддерживают здоровье пищеварительной системы и помогают снизить вес
						.product-desc-col
							p.tab-desc-header.mod Пищевые добавки
							p.tab-desc-text Стимулирует рост полезной микрофлоры кишечника и предотвращает дисбактериоз
						.product-desc-col
							p.tab-desc-header.mod Подсластитель
							p.tab-desc-text Позволяет не использовать сахар в приготовлении пищи и сладостей	
				.product-tab-desc-wrap(data-href="1")
					.product-desc-row
						.product-desc-col
							p.tab-desc-header 2 Пищевая ценность сиропа на 100 грамм:
							p.tab-desc-text Энергетическая ценность 180 ккал*;
							ul.tab-desc-ul
								li белки: 0 г;
								li жиры: 0 г;
								li углеводы 75 г, из которых клетчатки** 70 г.
						.product-desc-col
							p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
							p.tab-desc-text Энергетическая ценность 180 ккал*;
							ul.tab-desc-ul
								li белки: 0 г;
								li жиры: 0 г;
								li углеводы 75 г, из которых клетчатки** 70 г.
					.product-desc-row
						.product-desc-col
							p.tab-desc-header.mod Пребиотик
							p.tab-desc-text Поддерживают здоровье пищеварительной системы и помогают снизить вес
						.product-desc-col
							p.tab-desc-header.mod Пищевые добавки
							p.tab-desc-text Стимулирует рост полезной микрофлоры кишечника и предотвращает дисбактериоз
						.product-desc-col
							p.tab-desc-header.mod Подсластитель
							p.tab-desc-text Позволяет не использовать сахар в приготовлении пищи и сладостей	
				.product-tab-desc-wrap(data-href="2")
					.product-desc-row
						.product-desc-col
							p.tab-desc-header 3 Пищевая ценность сиропа на 100 грамм:
							p.tab-desc-text Энергетическая ценность 180 ккал*;
							ul.tab-desc-ul
								li белки: 0 г;
								li жиры: 0 г;
								li углеводы 75 г, из которых клетчатки** 70 г.
						.product-desc-col
							p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
							p.tab-desc-text Энергетическая ценность 180 ккал*;
							ul.tab-desc-ul
								li белки: 0 г;
								li жиры: 0 г;
								li углеводы 75 г, из которых клетчатки** 70 г.
					.product-desc-row
						.product-desc-col
							p.tab-desc-header.mod Пребиотик
							p.tab-desc-text Поддерживают здоровье пищеварительной системы и помогают снизить вес
						.product-desc-col
							p.tab-desc-header.mod Пищевые добавки
							p.tab-desc-text Стимулирует рост полезной микрофлоры кишечника и предотвращает дисбактериоз
						.product-desc-col
							p.tab-desc-header.mod Подсластитель
							p.tab-desc-text Позволяет не использовать сахар в приготовлении пищи и сладостей	
				.product-tab-desc-wrap(data-href="3")
					.product-desc-row
						.product-desc-col
							p.tab-desc-header 4 Пищевая ценность сиропа на 100 грамм:
							p.tab-desc-text Энергетическая ценность 180 ккал*;
							ul.tab-desc-ul
								li белки: 0 г;
								li жиры: 0 г;
								li углеводы 75 г, из которых клетчатки** 70 г.
						.product-desc-col
							p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
							p.tab-desc-text Энергетическая ценность 180 ккал*;
							ul.tab-desc-ul
								li белки: 0 г;
								li жиры: 0 г;
								li углеводы 75 г, из которых клетчатки** 70 г.
					.product-desc-row
						.product-desc-col
							p.tab-desc-header.mod Пребиотик
							p.tab-desc-text Поддерживают здоровье пищеварительной системы и помогают снизить вес
						.product-desc-col
							p.tab-desc-header.mod Пищевые добавки
							p.tab-desc-text Стимулирует рост полезной микрофлоры кишечника и предотвращает дисбактериоз
						.product-desc-col
							p.tab-desc-header.mod Подсластитель
							p.tab-desc-text Позволяет не использовать сахар в приготовлении пищи и сладостей	
			.product-pic.active(data-href="0")
				img(src="img/product-tab1.png", alt="")
			.product-pic(data-href="1")
				img(src="img/product-tab2.png", alt="")
			.product-pic(data-href="2")
				img(src="img/product-tab3.png", alt="")
			.product-pic(data-href="3")
				img(src="img/product-tab4.png", alt="")
		.icn-btn-wrap			
			a(href="#").slide-recipe.mod сертификаты
		.product-social
			p.social-phone +7-495-755-39-51
			.social-btns
				a(href="#").social-vk
				a(href="#").social-fb
				a(href="#").social-inst
			p.social-copyrights Copyright © 2016 
				a(href="#") Isomalto 
				| design by 
				a(href="#") as-crew 
				| / development by 
				a(href="# ") strikt 
script(src="js/libs.min.js")
script(src="js/common.js")
