<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title Isomalto
	link(rel="stylesheet", href="css/main.css")
body
	.main-menu
		.logo-wrap
			img(src="img/logo.jpg", alt="logo")
		.list-wrap
			ul
				li
					a(href="#main").active главная
				li
					a(href="#about") о продукте
				li
					a(href="#test") попробовать
				li
					a(href="#scripts") рецепты
				li
					a(href="#contacts") контакты
				li.shop-link
					a(href="#") магазин
	.main-mobile-menu
		.logo-wrap
			img(src="img/logo.jpg", alt="logo")
		.mobile-menu-btn 
			span меню
			.mob-menu-icon
				span
				span
				span
		.list-wrap
			ul
				li
					a(href="#main") главная
				li
					a(href="#about") о продукте
				li
					a(href="#test") попробовать
				li
					a(href="#scripts") рецепты
				li
					a(href="#contacts") контакты
				li.shop-link
					a(href="#") магазин
	.glob-wrap				
		.main-slider-block#main
			.main-slider-wrap
				.slide-wrap(data-slide='0')
					img(src="img/slide01.jpg", alt="slide-01")
					.text-block
						p.slide-header сироп без сахара
						p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
							span Он богат пищевыми волокнами, сладкий, имеет приятный
							span вкус и калорийность в два раза ниже сахара
						a(href="#").slider-present-btn хочу в подарок
					.slider-bottom-info
						.slide-recipe-wrap
							a(href="#").slide-recipe рецепты
						.social-wrap
							p.social-phone +7-495-755-39-51
							.social-btns
								a(href="#").social-vk
								a(href="#").social-fb
								a(href="#").social-inst
							p.social-copyrights Copyright © 2016 
								a(href="#") Isomalto 
								| design by 
								a(href="#") as-crew 
								| / development by 
								a(href="# ") strikt 
				.slide-wrap(data-slide='1')
					img(src="img/slide02.jpg", alt="slide-02")
					.text-block
						p.slide-header сироп без сахара
						p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
							span Он богат пищевыми волокнами, сладкий, имеет приятный
							span вкус и калорийность в два раза ниже сахара
						a(href="#").slider-present-btn хочу в подарок
					.slider-bottom-info
						.slide-recipe-wrap
							a(href="#").slide-recipe рецепты
						.social-wrap
							p.social-phone +7-495-755-39-51
							.social-btns
								a(href="#").social-vk
								a(href="#").social-fb
								a(href="#").social-inst
							p.social-copyrights Copyright © 2016 
								a(href="#") Isomalto 
								| design by 
								a(href="#") as-crew 
								| / development by 
								a(href="# ") strikt 
				.slide-wrap(data-slide='2')
					img(src="img/slide03.jpg", alt="slide-03")
					.text-block
						p.slide-header сироп без сахара
						p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
							span Он богат пищевыми волокнами, сладкий, имеет приятный
							span вкус и калорийность в два раза ниже сахара
						a(href="#").slider-present-btn хочу в подарок
					.slider-bottom-info
						.slide-recipe-wrap
							a(href="#").slide-recipe рецепты
						.social-wrap
							p.social-phone +7-495-755-39-51
							.social-btns
								a(href="#").social-vk
								a(href="#").social-fb
								a(href="#").social-inst
							p.social-copyrights Copyright © 2016 
								a(href="#") Isomalto 
								| design by 
								a(href="#") as-crew 
								| / development by 
								a(href="# ") strikt 
				.slide-wrap(data-slide='3')
					img(src="img/slide04.jpg", alt="slide-04")
					.text-block
						p.slide-header сироп без сахара
						p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
							span Он богат пищевыми волокнами, сладкий, имеет приятный
							span вкус и калорийность в два раза ниже сахара
						a(href="#").slider-present-btn хочу в подарок
					.slider-bottom-info
						.slide-recipe-wrap
							a(href="#").slide-recipe рецепты
						.social-wrap
							p.social-phone +7-495-755-39-51
							.social-btns
								a(href="#").social-vk
								a(href="#").social-fb
								a(href="#").social-inst
							p.social-copyrights Copyright © 2016 
								a(href="#") Isomalto 
								| design by 
								a(href="#") as-crew 
								| / development by 
								a(href="# ") strikt 
			.arrows-wrap
				span.left
				span.right
		.about-slider-block#about
			p.about-slider-header почему 
				span isomalto?
			.about-slider-wrap
				.about-slide(data-slide='0')
					.column
						img(src="img/icon-heart.png", alt="")
						p.column-header способствует поддержанию здорового уровня сахара в крови
						p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
					.column
						img(src="img/icon-security.png", alt="")
						p.column-header	Помогает поддерживать здоровый уровень холестерина
						p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
					.column
						img(src="img/icon-dna.png", alt="")
						p.column-header Способствует росту полезной микрофлоры
						p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
				.about-slide(data-slide='1')
					.column
						img(src="img/icon-heart.png", alt="")
						p.column-header способствует поддержанию здорового уровня сахара в крови
						p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
					.column
						img(src="img/icon-heart.png", alt="")
						p.column-header	Помогает поддерживать здоровый уровень холестерина
						p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
					.column
						img(src="img/icon-heart.png", alt="")
						p.column-header Способствует росту полезной микрофлоры
						p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
				.about-slide(data-slide='2')
					.column
						img(src="img/icon-security.png", alt="")
						p.column-header способствует поддержанию здорового уровня сахара в крови
						p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
					.column
						img(src="img/icon-security.png", alt="")
						p.column-header	Помогает поддерживать здоровый уровень холестерина
						p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
					.column
						img(src="img/icon-security.png", alt="")
						p.column-header Способствует росту полезной микрофлоры
						p.column-desc Использование изомальтоолигосахаридов в лечении липидных профилей и запоров у пациентов, находящихся на гемодиализе. Hsueh-Fang Wang, et al., (2001) J. Renal Nutri., 11 (2) 73-79
			.about-arrows-wrap
				span.left
				span.right
			.about-indicators-wrap
			.about-social
				.social-wrap
					p.social-phone +7-495-755-39-51
					.social-btns
						a(href="#").social-vk
						a(href="#").social-fb
						a(href="#").social-inst
					p.social-copyrights Copyright © 2016 
						a(href="#") Isomalto 
						| design by 
						a(href="#") as-crew 
						| / development by 
						a(href="# ") strikt 
		.product-block
			p.product-header о продукте
				span Isomalto™ - это новый вид натурального сахарозаменителя в виде сиропа и пудры.
			.product-wrap
				.product-tabs-wrap
					ul.product-tabs-btns-wrap
						li
							button(data-href="0").active состав
						li
							button(data-href="1") польза
						li
							button(data-href="2") история
						li
							button(data-href="3") производство
					.product-tab-desc-wrap.active(data-href="0")
						.product-desc-row
							.product-desc-col
								p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
								p.tab-desc-text Энергетическая ценность 180 ккал*;
								ul.tab-desc-ul
									li белки: 0 г;
									li жиры: 0 г;
									li углеводы 75 г, из которых клетчатки** 70 г.
							.product-desc-col
								p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
								p.tab-desc-text Энергетическая ценность 180 ккал*;
								ul.tab-desc-ul
									li белки: 0 г;
									li жиры: 0 г;
									li углеводы 75 г, из которых клетчатки** 70 г.
						.product-desc-row
							.product-desc-col
								p.tab-desc-header.mod Пребиотик
								p.tab-desc-text Поддерживают здоровье пищеварительной системы и помогают снизить вес
							.product-desc-col
								p.tab-desc-header.mod Пищевые добавки
								p.tab-desc-text Стимулирует рост полезной микрофлоры кишечника и предотвращает дисбактериоз
							.product-desc-col
								p.tab-desc-header.mod Подсластитель
								p.tab-desc-text Позволяет не использовать сахар в приготовлении пищи и сладостей	
					.product-tab-desc-wrap(data-href="1")
						.product-desc-row
							.product-desc-col
								p.tab-desc-header 2 Пищевая ценность сиропа на 100 грамм:
								p.tab-desc-text Энергетическая ценность 180 ккал*;
								ul.tab-desc-ul
									li белки: 0 г;
									li жиры: 0 г;
									li углеводы 75 г, из которых клетчатки** 70 г.
							.product-desc-col
								p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
								p.tab-desc-text Энергетическая ценность 180 ккал*;
								ul.tab-desc-ul
									li белки: 0 г;
									li жиры: 0 г;
									li углеводы 75 г, из которых клетчатки** 70 г.
						.product-desc-row
							.product-desc-col
								p.tab-desc-header.mod Пребиотик
								p.tab-desc-text Поддерживают здоровье пищеварительной системы и помогают снизить вес
							.product-desc-col
								p.tab-desc-header.mod Пищевые добавки
								p.tab-desc-text Стимулирует рост полезной микрофлоры кишечника и предотвращает дисбактериоз
							.product-desc-col
								p.tab-desc-header.mod Подсластитель
								p.tab-desc-text Позволяет не использовать сахар в приготовлении пищи и сладостей	
					.product-tab-desc-wrap(data-href="2")
						.product-desc-row
							.product-desc-col
								p.tab-desc-header 3 Пищевая ценность сиропа на 100 грамм:
								p.tab-desc-text Энергетическая ценность 180 ккал*;
								ul.tab-desc-ul
									li белки: 0 г;
									li жиры: 0 г;
									li углеводы 75 г, из которых клетчатки** 70 г.
							.product-desc-col
								p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
								p.tab-desc-text Энергетическая ценность 180 ккал*;
								ul.tab-desc-ul
									li белки: 0 г;
									li жиры: 0 г;
									li углеводы 75 г, из которых клетчатки** 70 г.
						.product-desc-row
							.product-desc-col
								p.tab-desc-header.mod Пребиотик
								p.tab-desc-text Поддерживают здоровье пищеварительной системы и помогают снизить вес
							.product-desc-col
								p.tab-desc-header.mod Пищевые добавки
								p.tab-desc-text Стимулирует рост полезной микрофлоры кишечника и предотвращает дисбактериоз
							.product-desc-col
								p.tab-desc-header.mod Подсластитель
								p.tab-desc-text Позволяет не использовать сахар в приготовлении пищи и сладостей	
					.product-tab-desc-wrap(data-href="3")
						.product-desc-row
							.product-desc-col
								p.tab-desc-header 4 Пищевая ценность сиропа на 100 грамм:
								p.tab-desc-text Энергетическая ценность 180 ккал*;
								ul.tab-desc-ul
									li белки: 0 г;
									li жиры: 0 г;
									li углеводы 75 г, из которых клетчатки** 70 г.
							.product-desc-col
								p.tab-desc-header Пищевая ценность сиропа на 100 грамм:
								p.tab-desc-text Энергетическая ценность 180 ккал*;
								ul.tab-desc-ul
									li белки: 0 г;
									li жиры: 0 г;
									li углеводы 75 г, из которых клетчатки** 70 г.
						.product-desc-row
							.product-desc-col
								p.tab-desc-header.mod Пребиотик
								p.tab-desc-text Поддерживают здоровье пищеварительной системы и помогают снизить вес
							.product-desc-col
								p.tab-desc-header.mod Пищевые добавки
								p.tab-desc-text Стимулирует рост полезной микрофлоры кишечника и предотвращает дисбактериоз
							.product-desc-col
								p.tab-desc-header.mod Подсластитель
								p.tab-desc-text Позволяет не использовать сахар в приготовлении пищи и сладостей	
				.product-pic.active
					img(src="img/product-tab1.png", alt="")
			.icn-btn-wrap			
				a(href="#").slide-recipe.mod сертификаты
			.product-social
				p.social-phone +7-495-755-39-51
				.social-btns
					a(href="#").social-vk
					a(href="#").social-fb
					a(href="#").social-inst
				p.social-copyrights Copyright © 2016 
					a(href="#") Isomalto 
					| design by 
					a(href="#") as-crew 
					| / development by 
					a(href="# ") strikt 
		.test-block#test
			.test-block-wrap
				.test-left-col
					p.test-header сироп isomalto
					p.test-desc Низкокалорийный сироп Isomalto - функциональный продукт 3 в 1: клетчатка, пребиотик, подсластитель. 
					p.test-desc В настоящее время используется в качестве сахарозаменителя и функциональной добавки в различных странах в пищевой промышленности и спортивном питании.
					p.test-desc.mod Масса нетто: 350 г.
						br
						| Масса нетто: 1.2 кг.
					p.test-desc.list В 100 г продукта содержится:
					ul.test-list
						li белки - 0 г; жиры - 0 г;
						li углеводы - 75 г.
						li Энергетическая ценность 180 ккал.
				.test-right-col
					p.test-header
						span попробовать 
						| бесплатно
					form.test-form
						input.test-name(type="text" name="name" placeholder="Имя")
						input.test-email(type="email" name="email" placeholder="Email")
						input.test-subj(type="text" name="subject" placeholder="Тема")
						textarea.test-mess(name="message", cols="30", rows="10" placeholder="Сообщение")
						input.test-submit(type="submit" value="Хочу" disabled="disabled")
						.test-success-wrap
							p Заявка принята
			.test-social
				p.social-phone +7-495-755-39-51
				.social-btns
					a(href="#").social-vk
					a(href="#").social-fb
					a(href="#").social-inst
				p.social-copyrights Copyright © 2016 
					a(href="#") Isomalto 
					| design by 
					a(href="#") as-crew 
					| / development by 
					a(href="# ") strikt 
		.script-block#scripts
			.script-row(data-href="0").active
				.script-desc
					p.script-desc-header Диетический шоколадный торт с творожным кремом и клетчаткой
					ul.script-desc-tabs
						li
							a.active(data-href="0") Ингредиенты
						li
							a(data-href="1") Приготовление
					.script-desc-tab-wrap
						.script-desc-tab.active(data-href="0")
							p Для коржа:
							ul
								li Мука (рисовая/кукурузная) - 70 гр
								li Кефир - 100 мл
								li Яйцо - 2 шт
								li Разрыхлитель - 1 ч.л.
								li Какао - 1 ст.л.
								li Ванилин
								li Песок Isomalto - 100 гр 
							p Для крема:
							ul 
								li Творог-300 гр
								li Кефир-100 гр
								li Сироп Isomalto - 3 колпачка
						.script-desc-tab(data-href="1")
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p 123213
				.script-video
					iframe(src="https://www.youtube.com/embed/C0DPdy98e4c", frameborder="0")
			.script-row(data-href="1")
				.script-desc
					p.script-desc-header 1 Lorem ipsum dolor.
					ul.script-desc-tabs
						li
							a.active(data-href="0") Ингредиенты
						li
							a(data-href="1") Приготовление
					.script-desc-tab-wrap
						.script-desc-tab.active(data-href="0")
							p Для коржа:
							ul
								li Мука (рисовая/кукурузная) - 70 гр
								li Кефир - 100 мл
								li Яйцо - 2 шт
								li Разрыхлитель - 1 ч.л.
								li Какао - 1 ст.л.
								li Ванилин
								li Песок Isomalto - 100 гр 
							p Для крема:
							ul 
								li Творог-300 гр
								li Кефир-100 гр
								li Сироп Isomalto - 3 колпачка
						.script-desc-tab(data-href="1")
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
				.script-video
					iframe(src="https://www.youtube.com/embed/ucZl6vQ_8Uo", frameborder="0")
			.script-row(data-href="2")
				.script-desc
					p.script-desc-header 2 Lorem ipsum dolor sit amet.
					ul.script-desc-tabs
						li
							a.active(data-href="0") Ингредиенты
						li
							a(data-href="1") Приготовление
					.script-desc-tab-wrap
						.script-desc-tab.active(data-href="0")
							p Для коржа:
							ul
								li Мука (рисовая/кукурузная) - 70 гр
								li Кефир - 100 мл
								li Яйцо - 2 шт
								li Разрыхлитель - 1 ч.л.
								li Какао - 1 ст.л.
								li Ванилин
								li Песок Isomalto - 100 гр 
							p Для крема:
							ul 
								li Творог-300 гр
								li Кефир-100 гр
								li Сироп Isomalto - 3 колпачка
						.script-desc-tab(data-href="1")
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, placeat.
				.script-video
					iframe(src="https://www.youtube.com/embed/szoOsG9137U", frameborder="0")
			.script-tabs-wrap
				ul.script-tabs
					li
						a.active(data-href="0")
							img(src="img/script-tab-img.png", alt="")
							.hov-txt
								p Диетический торт с творогом
									span подробнее
					li
						a(data-href="1")
							img(src="img/script-tab-img.png", alt="")
							.hov-txt
								p Диетический торт с творогом
									span подробнее
					li
						a(data-href="2")
							img(src="img/script-tab-img.png", alt="")
							.hov-txt
								p Диетический торт с творогом
									span подробнее
					li
						a(data-href="3")
							img(src="img/script-tab-img.png", alt="")
							.hov-txt
								p Диетический торт с творогом
									span подробнее
					li
						a(data-href="4")
							img(src="img/script-tab-img.png", alt="")
							.hov-txt
								p Диетический торт с творогом
									span подробнее
					li
						a(data-href="5")
							img(src="img/script-tab-img.png", alt="")
							.hov-txt
								p Диетический торт с творогом
									span подробнее
					li
						a(data-href="6")
							img(src="img/script-tab-img.png", alt="")
							.hov-txt
								p Диетический торт с творогом
									span подробнее
			.script-social
				p.social-phone +7-495-755-39-51
				.social-btns
					a(href="#").social-vk
					a(href="#").social-fb
					a(href="#").social-inst
				p.social-copyrights Copyright © 2016 
					a(href="#") Isomalto 
					| design by 
					a(href="#") as-crew 
					| / development by 
					a(href="# ") strikt
		.map-block#contacts
			.map#map
			.contacts-wrap
				.feedback-wrap
					p.contact-subheader ответы на вопросы
					p.feedback-desc С удовольствием ответим на все ваши вопросы по телефону 
						a(href="tel:+74957553951") +7 (495) 755-39-51. 
					p.feedback-desc Или просто заполните форму ниже:
					form.feedback-form
						input.feedback-name(type="text" name="name" placeholder="Имя")
						input.feedback-email(type="email" name="email" placeholder="Email")
						input.feedback-subject(type="text" name="subject" placeholder="Тема")
						textarea.feedback-message(name="message", cols="30", rows="10" placeholder="Сообщение")
						input.feedback-submit(type="submit" value="Отправить" disabled)
					.feedback-success-wrap
						p Заявка принята
				.contacts-text-wrap
					p.contact-header Контакты
					p.contact-subheader.mod Центральный офис
					p.contact-text Москва,ул. Лесная 41
					p.contact-text
						a(href="mailto:info@isomalto.ru") info@isomalto.ru
					p.contact-text Телефон:
						a(href="tel:+74957553951") +7 (495) 755-39-51
					p.contact-text Пн - Вс: с 9:00 до 21:00
					p.contact-subheader.mod Пункты выдачи
					p.contact-text Москва, ул. Лесная 41
					p.contact-text Москва, ул. Кольская 1 с10
					p.contact-text Санкт-Петербург,
					p.contact-text Комендантский пр-т 2,
script(src="js/libs.min.js")
script(src="js/common.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2fRMaJqOjBzaRu76T3hU0sBj9hVCBXEk&callback=initMap" async defer)
