<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title Isomalto
	link(rel="stylesheet", href="css/main.css")
body
	.main-menu
		.logo-wrap
			img(src="img/logo.jpg", alt="logo")
		.list-wrap
			ul
				li
					a(href="#") главная
				li
					a(href="#") о продукте
				li
					a(href="#") попробовать
				li
					a(href="#") рецепты
				li
					a(href="#") контакты
				li.shop-link
					a(href="#") магазин
	.main-mobile-menu
		.logo-wrap
			img(src="img/logo.jpg", alt="logo")
		.mobile-menu-btn 
			span меню
			.mob-menu-icon
				span
				span
				span
		.list-wrap
			ul
				li
					a(href="#") главная
				li
					a(href="#") о продукте
				li
					a(href="#") попробовать
				li
					a(href="#") рецепты
				li
					a(href="#") контакты
				li.shop-link
					a(href="#") магазин
script(src="js/libs.min.js")
script(src="js/common.js")
