<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	title Isomalto
	link(rel="stylesheet", href="css/main.css")
body
	.main-menu
		.logo-wrap
			img(src="img/logo.jpg", alt="logo")
		.list-wrap
			ul
				li
					a(href="#") главная
				li
					a(href="#") о продукте
				li
					a(href="#") попробовать
				li
					a(href="#") рецепты
				li
					a(href="#") контакты
				li.shop-link
					a(href="#") магазин
	.main-mobile-menu
		.logo-wrap
			img(src="img/logo.jpg", alt="logo")
		.mobile-menu-btn 
			span меню
			.mob-menu-icon
				span
				span
				span
		.list-wrap
			ul
				li
					a(href="#") главная
				li
					a(href="#") о продукте
				li
					a(href="#") попробовать
				li
					a(href="#") рецепты
				li
					a(href="#") контакты
				li.shop-link
					a(href="#") магазин
	.main-slider-block
		.main-slider-wrap
			.slide-wrap(data-slide='0')
				img(src="img/slide01.jpg", alt="slide-01")
				.text-block
					p.slide-header сироп без сахара
					p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
						span Он богат пищевыми волокнами, сладкий, имеет приятный
						span вкус и калорийность в два раза ниже сахара
					a(href="#").slider-present-btn хочу в подарок
				.slider-bottom-info
					.slide-recipe-wrap
						a(href="#").slide-recipe рецепты
					.social-wrap
						p.social-phone +7-495-755-39-51
						.social-btns
							a(href="#").social-vk
							a(href="#").social-fb
							a(href="#").social-inst
						p.social-copyrights Copyright © 2016 
							a(href="#") Isomalto 
							| design by 
							a(href="#") as-crew 
							| / development by 
							a(href="# ") strikt 
			.slide-wrap(data-slide='1')
				img(src="img/slide02.jpg", alt="slide-02")
				.text-block
					p.slide-header сироп без сахара
					p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
						span Он богат пищевыми волокнами, сладкий, имеет приятный
						span вкус и калорийность в два раза ниже сахара
					a(href="#").slider-present-btn хочу в подарок
				.slider-bottom-info
					.slide-recipe-wrap
						a(href="#").slide-recipe рецепты
					.social-wrap
						p.social-phone +7-495-755-39-51
						.social-btns
							a(href="#").social-vk
							a(href="#").social-fb
							a(href="#").social-inst
						p.social-copyrights Copyright © 2016 
							a(href="#") Isomalto 
							| design by 
							a(href="#") as-crew 
							| / development by 
							a(href="# ") strikt 
			.slide-wrap(data-slide='2')
				img(src="img/slide03.jpg", alt="slide-03")
				.text-block
					p.slide-header сироп без сахара
					p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
						span Он богат пищевыми волокнами, сладкий, имеет приятный
						span вкус и калорийность в два раза ниже сахара
					a(href="#").slider-present-btn хочу в подарок
				.slider-bottom-info
					.slide-recipe-wrap
						a(href="#").slide-recipe рецепты
					.social-wrap
						p.social-phone +7-495-755-39-51
						.social-btns
							a(href="#").social-vk
							a(href="#").social-fb
							a(href="#").social-inst
						p.social-copyrights Copyright © 2016 
							a(href="#") Isomalto 
							| design by 
							a(href="#") as-crew 
							| / development by 
							a(href="# ") strikt 
			.slide-wrap(data-slide='3')
				img(src="img/slide04.jpg", alt="slide-04")
				.text-block
					p.slide-header сироп без сахара
					p.slider-text продукт 3 в 1:  клетчатка, пребиотик, подсластитель
						span Он богат пищевыми волокнами, сладкий, имеет приятный
						span вкус и калорийность в два раза ниже сахара
					a(href="#").slider-present-btn хочу в подарок
				.slider-bottom-info
					.slide-recipe-wrap
						a(href="#").slide-recipe рецепты
					.social-wrap
						p.social-phone +7-495-755-39-51
						.social-btns
							a(href="#").social-vk
							a(href="#").social-fb
							a(href="#").social-inst
						p.social-copyrights Copyright © 2016 
							a(href="#") Isomalto 
							| design by 
							a(href="#") as-crew 
							| / development by 
							a(href="# ") strikt 
		.arrows-wrap
			span.left
			span.right
script(src="js/libs.min.js")
script(src="js/common.js")
