@import "app/css/fonts"

$accent: #96b71d
$bg: #305b3c
$mite: #969696

$tablet: 'only screen and (max-width: 1024px)'
$mobile: 'only screen and (max-width: 767px)'
$desctop: 'only screen and (max-width: 1440px)'
$landscape: 'only screen and (orientation: landscape) and (max-width: 1023px)'
$mobile-landscape: 'only screen and (orientation: landscape) and (max-width: 767px)'
html, body
	margin: 0
	padding: 0
	max-width: 1920px
	min-width: 320px
	margin: 0 auto
h1
	font-family: bebasReg
.main-menu
	display: flex
	justify-content: space-between
	align-items: center
	position: fixed
	top: 0
	background-color: #fff
	width: 100%
	padding: 10px 60px 0
	max-width: 1920px
	box-sizing: border-box
	z-index: 100
	@media #{$tablet}
		padding: 10px
	@media #{$mobile}
		display: none
	.logo-wrap
		display: inline-block
	.list-wrap
		display: inline-block
		ul
			margin: 0
			margin-bottom: 2px
			margin-right: 4px
			padding: 0
			list-style: none
		li
			display: inline-block
			font-family: bebasBold
			font-size: 18px
			margin: 0 14px
			@media #{$tablet}
				margin: 0 5px
				font-size: 14px
			&:last-child
				margin-right: 0
		a
			color: $mite
			text-decoration: none
			transition: .2s
			&:hover
				color: $accent
			&.active
				color: $accent
		.shop-link
			font-size: 22px
			a
				color: $bg
				padding: 10px 32px 6px
				border: 2px solid $bg
				border-radius: 30px
				&:hover
					background: $bg
					color: $accent
.main-mobile-menu
	display: none
	padding: 10px
	justify-content: space-between
	align-items: center
	position: fixed
	top: 0
	background-color: #FFF
	width: 100%
	z-index: 100
	@media #{$mobile}
		display: flex
	.logo-wrap
		margin: 0
		padding: 0
		img
			height: 40px
			margin: 0
			padding: 0
	.list-wrap
		display: block
		position: absolute
		top: 60px
		left: 0
		width: 100%
		height: 0
		overflow: hidden
		transition: .2s
		background-color: #FFF
		&.open
			height: 220px
		ul
			margin: 20px 10px
			padding: 0
			li
				margin: 20px 0
				&:first-child,
				&:last-child
					margin: 0
				a
					color: $bg
					text-decoration: none
					font-family: bebasBold
					font-size: 20px
					&.active
						color: $accent
	.mobile-menu-btn
		display: flex
		justify-content: space-between
		align-items: center
		font-family: bebasBold
		font-size: 18px
		color: $bg
		overflow: hidden
		padding-right: 20px
		&>span
			position: relative
			left: 0
			transition: .2s
			opacity: 1
		&.active
			&>span
				left: 50px
				opacity: 0
	.mob-menu-icon
		width: 30px
		height: 40px
		display: flex
		align-content: space-around
		flex-wrap: wrap
		align-items: center
		margin-left: 10px
		position: relative
		overflow: hidden
		span
			width: 100%
			height: 5px
			background-color: $bg
			display: block
			position: relative
			transition: .2s
		span:nth-child(1)
		span:nth-child(2)
			left: 0
			opacity: 1
		span:nth-child(3)
		&.active
			span:nth-child(1)
				transform: rotate(45deg)
				position: absolute
				top: 0
				bottom: 0
				margin: auto
			span:nth-child(2)
				left: 50px
				opacity: 0
			span:nth-child(3)
				transform: rotate(-45deg)
				position: absolute
				top: 0
				bottom: 0
				margin: auto
.glob-wrap
	width: 100%
	max-width: 1920px
	margin: 0 auto
.main-slider-block
	height: 100vh
	max-height: 960px
	width: 100%
	background-color: #fff
	position: relative
	box-sizing: border-box
	overflow: hidden
	@media #{$mobile}
		padding-top: 64px
		max-height: 568px
	@media #{$tablet}
		padding-top: 64px
		max-height: 1024px
.main-slider-wrap
	z-index: 0
.slide-wrap
	height: 100vh
	max-height: 960px
	width: 100%
	position: absolute
	top: 0
	left: 100%
	transition: 1s
	z-index: -1
	opacity: 0
	text-align: right
	@media #{$mobile}
		max-height: 568px
	@media #{$tablet}
		max-height: 1024px
	&.active
		left: 0
		z-index: 10
		opacity: 1
	&.left
		left: -100%
		z-index: 0
	img
		object-fit: cover
		height: 100%
		width: 100%
		@media #{$mobile}
			width: 100%
		@media #{$tablet}
			width: 100%
.text-block
	position: absolute
	top: 44%
	left: 22%
	@media #{$tablet}
		top: 350px
		width: 70%
		margin: 0 auto
		left: 0
		right: 0
		display: block
	@media #{$landscape}
		margin: 0
		left: -100px
	@media #{$mobile}
		top: 100px
		left: 0
		right: 0
		text-align: center
		width: 100%
.slide-header
	font-size: 90px
	font-family: bebasReg
	color: $accent
	margin: 0
	padding: 0
	@media #{$mobile}
		font-size: 50px
.slider-text
	font-family: bebasReg
	color: $mite
	font-size: 27px
	display: block
	margin-top: 18px
	line-height: 26px
	margin-bottom: 64px
	span
		font-family: arial
		font-size: 16px
		display: block
	@media #{$tablet}
		margin-bottom: 30px
		margin-top: 10px
	@media #{$landscape}
		font-size: 26px
.slider-present-btn
	font-family: bebasReg
	color: $accent
	border-radius: 50px
	border: 2px solid $accent
	padding: 20px 33px
	text-decoration: none
	font-size: 27px
	margin-right: -30px
	cursor: pointer
	&:hover
		background: $bg
	@media #{$mobile}
		padding: 12px 15px 6px
	@media #{$tablet}
		background: #FFF
.arrows-wrap
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 60px
	z-index: 10
	box-sizing: border-box
	position: absolute
	left: 0
	top: calc(50% - 58px)
	span
		width: 60px
		height: 117px
		cursor: pointer
	@media #{$tablet}
		padding: 0 10px
	@media #{$mobile}
		display: none
	.left
		background-image: url("../img/slider-arrow.png")
	.right
		background-image: url("../img/slider-arrow.png")
		transform: rotate(180deg)
.slider-bottom-info
	position: absolute
	bottom: 0
	left: 0
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
.social-wrap
	margin-bottom: 65px
	margin-right: 64px
	@media #{$mobile}
		position: absolute
		bottom: 10px
		left: 0
		right: 0
		margin: auto
	@media #{$tablet}
		margin-bottom: 30px
		margin-right: 30px
	@media #{$mobile-landscape}
		display: none
.social-btns
	display: inline-block
	a
		width: 32px
		height: 32px
		display: inline-block
		background-color: $mite
		margin: 0 4px
		cursor: pointer
		&:hover
			background-color: $accent
.social-vk
	background: url("../img/icon-vk.png") no-repeat center center
.social-fb
	background: url("../img/icon-fb.png") no-repeat center center
.social-inst
	background: url("../img/icon-inst.png") no-repeat center center
.social-phone
	font-size: 30px
	font-family: bebasReg
	color: $mite
	margin: 0
	padding: 0
	display: inline
	margin-right: 15px
.social-copyrights
	margin: 0
	padding: 0
	font-family: arial
	color: $mite
	font-size: 12px
	margin-top: 13px
	a
		color: $mite
		&:hover
			color: $accent
.slide-recipe-wrap
	margin-left: 116px
	margin-bottom: 47px
	@media #{$mobile}
		display: none
	@media #{$tablet}
		margin-bottom: 30px
		margin-right: 30px
.slide-recipe
	font-size: 27px
	color: $mite
	font-family: bebasReg
	text-decoration: none
	position: relative
	margin-left: 18px
	&:before
		content: url(../img/icon-recipe.png)
		width: 54px
		height: 54px
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		left: -71px
	&:hover
		color: $accent
	&.mod:before
		content: url(../img/icon-product.png)
.about-slider-block
	height: 100vh
	max-height: 960px
	width: 100%
	position: relative
	box-sizing: border-box
	overflow: hidden
	background: url(../img/about-bg.jpg) no-repeat top center, url(../img/about-bottom-bg.jpg) repeat-x bottom left
	position: relative
	@media #{$tablet}
		height: calc(100vh - 64px)
		max-height: 640px
		position: relative
	@media #{$mobile}
		max-height: 100%
		height: auto
.about-slider-header
	text-align: center
	font-size: 60px
	color: #fff
	font-family: bebasReg
	margin: 0
	margin-top: 150px
	span
		color: $accent
	@media #{$desctop}
		margin-top: 50px
	@media #{$tablet}
		margin-top: 30px
		margin-bottom: 10px
	@media #{$mobile}
		box-sizing: border-box
		padding-top: 10px
		margin: 0
.about-slider-wrap
	position: relative
	width: 100%
	@media #{$tablet}
		height: 450px
		padding-top: 20px
.about-slide
	width: 1024px
	justify-content: space-around
	align-items: flex-start
	display: flex
	transition: .5s
	z-index: -1
	opacity: 0
	position: absolute
	top: 55px
	left: 100%
	@media #{$desctop}
		top: 155px
	@media #{$mobile}
		top: 20px
	@media #{$tablet}
		top: 0
		background: #fff
		width: 100%
		padding: 0	20px
		box-sizing: border-box
		height: 450px
	&.active
		z-index: 10
		opacity: 1
		left: 0
		right: 0
		margin: auto
	&.left
		left: -100%
		z-index: 0
	@media #{$mobile}
		width: 100%
		background: #fff
		padding: 20px 0
	@media #{$tablet}
		padding: 20px
.column
	width: 340px
	text-align: center
	box-sizing: border-box
	padding: 0 10px
	&:first-child
		padding: 0
		padding-right: 70px
	&:last-child
		padding: 0
		padding-left: 70px
	@media #{$mobile}
		&:first-child
			display: none
		&:last-child
			display: none
.column-header
	font-family: bebasReg
	font-size: 22px
	color: $bg
	margin: 0
	margin-top: 40px
	line-height: 30px
.column-desc
	font-size: 16px
	color: $mite
	font-family: arial
	margin: 10px 0 0
.about-arrows-wrap
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	padding: 0 60px
	z-index: 10
	box-sizing: border-box
	position: absolute
	left: 0
	top: calc(50% - 18px)
	@media #{$desctop}
		padding: 0
	@media #{$tablet}
		display: none
	span
		width: 60px
		height: 117px
		cursor: pointer
	.left
		background-image: url("../img/about-arrow.png")
	.right
		background-image: url("../img/about-arrow.png")
		transform: rotate(180deg)
.about-indicators-wrap
	position: absolute
	bottom: 287px
	text-align: center
	display: block
	margin: 0 auto
	left: 0
	right: 0
	@media #{$mobile}
		display: none
	@media #{$tablet}
		bottom: 50px
	@media #{$desctop}
		bottom: 50px
	span
		width: 10px
		height: 10px
		border: 2px solid $bg
		display: inline-block
		border-radius: 50%
		margin: 0 4px
		position: relative
		cursor: pointer
		&.active
			cursor: default
			pointer-events: none
			&:before
				content: ''
				width: 10px
				height: 10px
				position: absolute
				background: #fff
				border-radius: 50%
				top: 0
				bottom: 0
				left: 0
				right: 0
				margin: auto
			&:after
				content: ''
				width: 6px
				height: 6px
				position: absolute
				background: $bg
				border-radius: 50%
				top: 0
				bottom: 0
				left: 0
				right: 0
				margin: auto
.about-social
	position: absolute
	bottom: 2px
	right: -7px
	text-align: right
	@media #{$mobile}
		display: none
	@media #{$tablet}
		bottom: -30px
		right: -10px
.product-block
	height: 100vh
	max-height: 876px
	width: 100%
	position: relative
	box-sizing: border-box
	overflow: hidden
	background: #edeced
	@media #{$tablet}
		max-height: 816px
	@media #{$mobile}
		max-height: 100%
		height: auto
.product-header
	margin: 45px 0 0 450px
	font-size: 60px
	color: $accent
	font-family: bebasReg
	@media #{$tablet}
		margin-left: 30px
		margin-top: 0
		margin-right: 0!important
	@media #{$desctop}
		margin-right: 300px
	@media #{$mobile}
		margin: 0
		text-align: center
		font-size: 40px
		padding: 0 20px
	span
		color: $mite
		font-family: arial
		font-size: 16px
		margin-top: 10px
		display: block
		text-align: left
		@media #{$mobile}
			text-align: center
.product-wrap
	width: 100%
	height: 645px
	background: url("../img/product-bg.jpg") repeat
	margin-top: 50px
	position: relative
	overflow: hidden
	@media #{$tablet}
		padding: 0 10px
		box-sizing: border-box
		//height: 585px
	@media #{$mobile}
		margin-top: 10px
		height: auto
.product-tabs-wrap
	width: 1210px
	height: 440px
	background-color: #FFF
	position: absolute
	top: 50px
	left: 710px
	z-index: 2
	@media #{$desctop}
		width: 768px
		left: 280px
		//height: 450px
	@media #{$tablet}
		width: 100%
		left: inherit
		position: relative
		top: 0
		height: 470px
	@media #{$mobile}
		width: 100%
		position: relative
		top: 0
		left: 0
		box-sizing: content-box
		height: auto
		padding: 20px
.product-tabs-btns-wrap
	margin: 35px 50px 0
	padding: 0 0 25px
	list-style: none
	width: 711px
	border-bottom: 1px solid $mite
	@media #{$mobile}
		margin: 0
	@media #{$tablet}
		padding: 35px 0 20px
		box-sizing: border-box
	@media #{$desctop}
		width: auto
	li
		display: inline-block
		padding: 0 10px
		@media #{$mobile}
			padding: 0
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
		button
			border: none
			background: #fff
			font-family: bebasReg
			color: $mite
			transition: .2s
			margin: 0
			padding: 0
			font-size: 18px
			position: relative
			cursor: pointer
			outline: none
			@media #{$tablet}
				font-size: 16px
			&:after
				content: ''
				width: 100%
				height: 1px
				background: $mite
				position: absolute
				bottom: 2px
				left: 0
				transition: .2s
			&.active, &:hover
				color: $accent
				text-decoration: none
				&:after
					background: transparent
			&.active
				pointer-events: none
				cursor: default
.product-tab-desc-wrap
	margin: 37px 50px 0
	width: 711px
	padding: 0
	display: none
	&.active
		display: block
	@media #{$desctop}
		width: inherit
		box-sizing: border-box
		padding: 37px 50px 0
		margin: 0
	@media #{$mobile}
		margin: 0
		width: 100%
		box-sizing: border-box
		padding: 10px 20px 0 0
.product-pic
	position: absolute
	top: 0
	left: -100%
	transition: .2s
	@media #{$mobile}
		display: none
	&.active
		left: 0
.product-desc-row
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 48px
	@media #{$mobile}
		width: 100%
		flex-wrap: wrap
		margin-bottom: 0
.product-desc-col
	display: inline-block
	font-family: arial
	color: $mite
	font-size: 16px
	@media #{$mobile}
		width: 100%
		margin-bottom: 20px
	p
		margin: 0
	.tab-desc-header
		font-weight: bold
		margin-bottom: 10px
		&.mod
			margin-bottom: 40px
			position: relative
			&:after
				content: ''
				width: 30px
				height: 1px
				background: $accent
				position: absolute
				bottom: -21px
				left: 3px
	.tab-desc-text
		margin-bottom: 10px
	.tab-desc-ul
		margin: 0
		padding: 0
		margin-left: 15px
.icn-btn-wrap
	position: absolute
	bottom: 80px
	left: 118px
	@media #{$desctop}
		bottom: 50px
	@media #{$tablet}
		bottom: 60px
	@media #{$landscape}
		bottom: 22px
	@media #{$mobile}
		display: none
.product-social
	position: absolute
	bottom: 70px
	right: 60px
	text-align: right
	@media #{$desctop}
		bottom: 30px
	@media #{$tablet}
		bottom: 30px
	@media #{$landscape}
		bottom: 4px
	@media #{$mobile}
		display: none
.test-block
	height: 100vh
	max-height: 960px
	width: 100%
	position: relative
	box-sizing: border-box
	overflow: hidden
	background: url(../img/test-bg.jpg) repeat
	@media #{$desctop}
		max-height: 730px
	@media #{$tablet}
		max-height: inherit
		height: 720px
	@media #{$mobile}
		max-height: inherit
		height: auto
.test-block-wrap
	position: absolute
	top: 160px
	left: 0
	right: 0
	margin: auto
	width: 800px
	height: 580px
	font-size: 0
	@media #{$mobile}
		position: relative
		top: 0
		width: 100%
		height: auto
	@media #{$tablet}
		top: 30px
	@media #{$desctop}
		top: 30px
	&:before
		content: url(../img/test-pic.png)
		position: absolute
		top: 140px
		left: -330px
		@media #{$mobile}
			display: none
.test-left-col
	width: 50%
	background: #fff
	height: 100%
	display: inline-block
	font-size: 16px
	vertical-align: top
	@media #{$mobile}
		width: 100%
		padding-bottom: 30px
	&:after
		@media #{$mobile}
			content: url(../img/test-pic.png)
			position: absolute
			bottom: 436px
			left: -330px
.test-right-col
	width: 50%
	background: $bg
	display: inline-block
	height: 100%
	font-size: 16px
	vertical-align: top
	@media #{$mobile}
		width: 100%
		padding-bottom: 40px
.test-header
	font-family: bebasReg
	font-size: 38px
	color: $accent
	margin: 46px 0 19px
	text-align: center
	span
		color: #fff
.test-desc
	font-family: arial
	color: $mite
	text-align: center
	margin: 0 0 30px
	padding: 0 50px
	&.mod
		margin: 80px 0 50px
		position: relative
		&:before
			content: ''
			width: 30px
			height: 2px
			background: $accent
			position: absolute
			left: 0
			right: 0
			margin: auto
			top: -26px
		&:after
			content: ''
			width: 30px
			height: 2px
			background: $accent
			position: absolute
			left: 0
			right: 0
			margin: auto
			bottom: -26px
	&.list
		margin: 0
.test-list
	margin: 0
	padding: 0 110px
	list-style: none
	font-family: arial
	color: $mite
	text-align: center
.test-form
	margin: 80px 44px 0
	position: relative
	@media #{$mobile}
		margin-top: 60px
		margin-bottom: 20px
	&>*
		display: block
		margin: 22px 0
		width: 100%
		box-sizing: border-box
		height: 24px
		outline: none
		background: none
		border: none
		border-bottom: 1px solid $mite
		color: $mite
		font-family: arial
		font-size: 14px
		&.fail
			color: #ff281d
			border-bottom: 1px solid #ff281d
			font-weight: bold
		&.success	
			color: $accent
			border-bottom: 1px solid $accent
	input::-webkit-input-placeholder
		font-family: bebasReg
		font-size: 18px
		color: $mite
	textarea
		color: $mite
		font-family: arial
		font-size: 14px
		&::-webkit-input-placeholder
			font-family: bebasReg
			font-size: 18px
			color: $mite
	textarea
		height: 130px
		resize: none
	input[type=submit]
		border-bottom: 0
		font-family: bebasReg
		font-size: 22px
		color: #fff
		border: 1px solid $accent
		display: block
		width: auto
		margin: 45px auto 0
		padding: 13px 32px 28px
		border-radius: 20px
		transition: .2s
		cursor: pointer
		opacity: 1
		&:hover
			background: $accent
		&[disabled]
			opacity: .5
			&:hover
				background: transparent
				cursor: default
	.test-success-wrap
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $bg
		display: none
		justify-content: center
		align-items: center
		margin: 0
		border-bottom: transparent
		&.success
			display: flex
		p
			font-family: bebasReg
			font-size: 18px
			color: $accent
.test-social
	position: absolute
	bottom: 60px
	right: 60px
	text-align: right
	@media #{$desctop}
		bottom: 10px
	@media #{$tablet}
		bottom: 20px
	@media #{$mobile}
		display: none
.script-block
	height: 100vh
	max-height: 930px
	width: 100%
	position: relative
	box-sizing: border-box
	overflow: hidden
	background: url(../img/script-bg.png) repeat-x left bottom #f6f6f9
	padding-top: 86px
	@media #{$desctop}
		height: auto
		max-height: 100%
		padding-bottom: 90px
	@media #{$tablet}
		max-height: 1000px
		padding-top: 10px
		height: 760px
	@media #{$mobile}
		height: 760px
		max-height: inherit
		padding-top: 0
		overflow: visible
.script-row
	font-size: 0
	height: 500px
	opacity: 0
	position: absolute
	left: 0
	width: 100%
	transition: .2s
	z-index: 0
	&.active
		opacity: 1
		z-index: 1
		@media #{$mobile}
			position: relative
		@media #{$landscape}
			position: relative
	@media #{$mobile}
		height: auto
		top: 0
.script-desc
	width: 50%
	height: 100%
	display: inline-block
	@media #{$mobile}
		width: 100%
.script-video
	width: 50%
	background: tomato
	height: 100%
	display: inline-block
	@media #{$mobile}
		display: none
.script-tabs-wrap
	width: 100%
	height: 230px
	margin-top: 500px
	@media #{$tablet}
		margin-top: 460px
	@media #{$landscape}
		margin-top: -30px
	@media #{$mobile}
		height: auto
		margin-top: 50px
.script-tabs
	padding: 0
	margin: 0
	list-style: none
	width: 100%
	height: 100%
	display: flex
	justify-content: space-around
	align-items: center
	padding: 0 62px
	box-sizing: border-box
	@media #{$tablet}
		padding: 0 10px
	li
		display: inline-block
		margin: 0 auto
		text-align: center
		vertical-align: top
		position: relative
		img
			width: 100%
		.hov-txt 
			position: absolute
			width: 100%
			height: 100%
			background: rgba(182,148,90,.8)
			top: 0
			left: 0
			opacity: 0
			transition: .2s
			cursor: pointer
			display: flex
			justify-content: space-around
			align-items: center
			p
				margin: 0
				padding: 0
				color: #fff
				font-family: arial
				font-size: 16px
				line-height: 25px
				@media #{$tablet}
					display: none
			span
				display: block
				font-family: bebasReg
				font-size: 20px
				text-decoration: underline
				margin-top: 30px
		a:hover .hov-txt, a.active .hov-txt
			opacity: 1
.script-desc
	font-size: 16px
	overflow: scroll
	padding: 0 62px
	box-sizing: border-box
	position: relative
	@media #{$mobile}
		height: auto
		overflow: visible
		padding: 0 20px
.script-desc-header
	margin: 48px 0 38px
	font-family: bebasReg
	font-size: 27px
	color: $mite
.script-desc-tabs
	margin: 0
	padding: 0
	list-style-type: none
	li
		display: inline-block
		margin-right: 10px
		cursor: pointer
		a
			font-family: bebasReg
			font-size: 18px
			color: $mite
			text-decoration: underline
			transition: .2s
			&.active, &:hover
				color: $accent
				text-decoration: none
.script-desc-tab-wrap
	position: relative
	margin-top: 25px
	border-top: 1px solid $mite
	@media #{$mobile}
		overflow: scroll
		height: 400px
		background: #fff 
.script-desc-tab
	position: absolute
	top: 0
	left: 0
	opacity: 0
	width: 100%
	font-family: arial
	font-size: 16px
	color: $mite
	transition: .2s
	z-index: -1
	height: 0
	overflow: hidden
	@media #{$mobile}
		display: none
		padding: 0 20px
		box-sizing: border-box
	&.active
		opacity: 1
		z-index: 1
		height: auto
		overflow: visible
		@media #{$mobile}
			display: block
.script-video iframe
	width: 100%
	height: 100%
	object-fit: cover
	z-index: 1
.script-social
	position: absolute
	bottom: 30px
	right: 60px
	text-align: right
	@media #{$mobile}
		display: none
	@media #{$tablet}
		bottom: 20px
	@media only screen and (max-width: 1920px)
		bottom: 0
	@media #{$desctop}
		bottom: 20px
.map-block
	height: 100vh
	max-height: 960px
	width: 100%
	position: relative
	box-sizing: border-box
	overflow: hidden
	background: $bg
	@media #{$mobile}
		height: auto
		max-height: inherit
.map
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	@media #{$mobile}
		display: none
.contacts-wrap
	z-index: 1
	position: absolute
	top: 113px
	right: 0
	background: $bg
	width: 700px
	height: 590px
	font-size: 0
	box-sizing: border-box
	overflow: hidden
	@media #{$tablet}
		width: 630px
	@media #{$mobile}
		position: relative
		top: 0
		width: 100%
		box-sizing: border-box
		height: auto
		padding-top: 30px
.feedback-wrap
	display: inline-block
	width: 45%
	height: 100%
	font-size: 16px
	padding: 64px 68px 0 60px
	position: relative
	@media #{$tablet}
		padding: 30px
		box-sizing: border-box
		width: 390px
	@media #{$mobile}
		width: 100%
		padding: 20px
.contacts-text-wrap
	display: inline-block
	width: 55%
	height: 100%
	font-size: 16px
	vertical-align: top
	position: absolute
	top: 60px
	@media #{$mobile}
		width: 100%
		position: relative
		top: 0
		padding: 20px
	@media #{$tablet}
		position: absolute
		top: 30px
.contact-subheader
	font-size: 30px
	font-family: bebasReg
	color: #fff
	margin: 0
	&.mod
		margin-top: 30px
		margin-bottom: 20px
.feedback-desc
	font-size: 16px
	font-family: arial
	color: #fff
	line-height: 18px
	a
		color: #fff
.feedback-form
	&>*
		display: block
		margin: 22px 0
		width: 100%
		box-sizing: border-box
		height: 24px
		outline: none
		background: none
		border: none
		border-bottom: 1px solid $mite
		color: $mite
		font-family: arial
		font-size: 14px
		&.fail
			color: #ff281d
			border-bottom: 1px solid #ff281d
			font-weight: bold
		&.success	
			color: $accent
			border-bottom: 1px solid $accent
	input::-webkit-input-placeholder
		font-family: bebasReg
		font-size: 18px
		color: $mite
	textarea
		color: $mite
		font-family: arial
		font-size: 14px
		&::-webkit-input-placeholder
			font-family: bebasReg
			font-size: 18px
			color: $mite
	textarea
		height: 130px
		resize: none
	input[type=submit]
		border-bottom: 0
		font-family: bebasReg
		font-size: 22px
		color: #fff
		border: 1px solid $accent
		display: block
		width: auto
		margin: 45px auto 0
		padding: 13px 32px 28px
		border-radius: 20px
		transition: .2s
		cursor: pointer
		opacity: 1
		&:hover
			background: $accent
		&[disabled]
			opacity: .5
			&:hover
				background: transparent
				cursor: default
.contact-header
	font-size: 60px
	color: $accent
	font-family: bebasReg
	margin: 0 0 30px
.contact-text
	font-family: arial
	color: #fff
	font-size: 16px
	margin: 0
	margin-bottom: 10px
	a
		color: #fff
.feedback-success-wrap
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $bg
	display: none
	justify-content: center
	align-items: center
	&.success
		display: flex
	p
		font-family: bebasReg
		font-size: 18px
		color: $accent